* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*font-family: "Inter", sans-serif;*/

.logo {
    width: 100%;
    height: 100%;
}
.logo1 {
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/3;
    
}

.avionCarrito {
    background-color: white;
    width: 3.125rem; 
    height: 3.125rem;
    padding-top: .625rem;
}
.carrito {
    grid-column: 3/4;
    grid-row:1/2 ;
}

.navBar {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 15.625rem 1fr 6.25rem;
    grid-template-rows: 6.25rem 3.125rem ;
}
.navBar nav ul {
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    column-width: 1.25rem;
    align-items: center;
    margin-left: 3.125rem;
} 
.contactanos {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 2/4;
    grid-row:2/3 ;
    padding-right: 1.25rem;
    background-color: #051937;
    color: white;
}


a {
    font-family: 'Times New Roman', Times, serif;

    text-decoration: none;
    color: black;
    padding: 0px 2.1875rem 0rem 2.1875rem;
} 
a:hover {
    font: size 20px; 
    color:#A8EB12;
    text-shadow: #051937 0px 15px 15px 0px;
}

li {
    list-style: none;
}
/* .redesSociales {

} */
#footer {
    width: 100%;
    height: 5rem ;
    background: linear-gradient(to right, #0519376f,#a6eb125d);
    display: flex;
    padding-left: 1.875rem;
    
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0 50%;
}
}
.redesSociales .divUbicacion .divFecha {
    height: 5rem;
}
.redesSociales {
    width: 25%;
}
.redesSociales a img {
    width:   2.5rem;
    height:  2.5rem;
}
.ubicacion a img {
    width:   2.5rem;
    height:  2.5rem;
}
.ubicacion {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ulRedesSociales {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fecha {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5625rem;
}
.fecha p {
    display: flex;
    justify-content: center;
    padding-left: 6.25rem;
}
#bodyIndex {
    background-image: url(../assets/fondos/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/* .mainIndex {
    height: 100%;
    } */
.sectionMain {
width: 100%;
height: 53rem; 
display: flex;
justify-content: center;
align-items: center;
} 
.sectionMain h1 {
    font-size: 1.875rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 1.25rem;
    padding-top: 1.875rem;
    text-align: center;
}
.sectionMain p {
    height: 100%;
    font-size: 1.25rem;
    padding: 3.125rem 3.125rem 0rem 3.125rem ;
    color: black;
    text-shadow: white  .9375rem 0rem .9375rem 0rem;
}

.divMain {
    background-color: #3bbcc564;
    width: 60%;
    height: 75%;
    box-shadow: rgba(0, 0, 0, 0.442)  .1rem .1rem .1rem .1rem;
} 
.divMain p {
    line-height: 1.875rem;
    text-align: justify;
}

#mainViajes {
    background-image: url('../assets/fondos/viajes.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
}
#sectionViajes {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionViajes div {
    background-color: #05193753; 
    box-shadow: rgba(0, 0, 0, 0.442)  .1rem .1rem .1rem .1rem;
}

#sectionViajes div h1 {
    font-size: 1.6875rem;
    text-align:center; 
    font-weight: 400;
    background-color: #24a4779f;
    padding-top: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #051937;
    letter-spacing: .3125rem;
}
#sectionViajes div h2 {
    font-size: 2.5rem;
    text-align: center;
    background-color: #24a4779f;
    padding: 1.5rem;
    font-family: "Inter", sans-serif;
    letter-spacing: .625rem;
}

.formViajes {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 15% 5% 15% 5% 10% 5% 15%;
    padding-left: 20%;
    padding-top: .625rem;
    column-gap: 3.125rem;
    row-gap: .625rem;
    
} 
.formViajes select  {
    width: 9.375rem;
}
.formViajes input  {
    width: 9.375rem;
}
.formViajes button  {
    width: 9.375rem;
}
#sectionViajes div p {
    padding-left: 1.25rem;
    padding-top: 1.875rem;
}
#desde {
    grid-column: 1/2;
    grid-row: 2/3;
}
#a {
    grid-column: 2/3;
    grid-row: 2/3;
}
#fechasalida {
    grid-column: 1/2;
    grid-row: 4/5;
}
#fechaRegreso {
    grid-column: 2/3;
    grid-row: 4/5;
}
#idaYVuelta {
    grid-column: 1/2;
    grid-row: 6/7;
}
#SoloIda {
    grid-column: 2/3;
    grid-row: 6/7;   
}
#persona {
    grid-column: 1/2;
    grid-row: 8/9;
}
.botonBuscar {
    grid-column: 2/3;
    grid-row: 8/9;
    background-color: #051937;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    letter-spacing: .1875rem;
    box-shadow: rgba(255, 255, 255, 0.386)  .1rem .1rem .1rem .1rem;
    
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.seccionClima {
    width: 35%;
    padding: 6.25rem;
}
.resultado { 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 501px;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10% auto 0;
    background-color: #546785;
    border-radius: 9px;
}
.resultado h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
}
.resultado p{
    color: #cfcfd9;
}
.resultado{
    margin-bottom: 8%;
}
.resultado p{
    margin: 5px 0 5px;
}
.resultado h2{
    font-size: 40px;
    line-height: 70px;
    margin: -10px 0 10px;
    color: #fff;
}
.resultado h5{
    font-size: 21px;
    margin: 2px;
    color: #fff;
}
.tiempo {
    display: flex;
    flex-direction: column;
}
.tiempo input[type="text"], .tiempo input[type="submit"], .tiempo select{
    width: 100%;
    margin: 0px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
.tiempo input[type="submit"]{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #14d4a5;
    border: 1px solid #14d4a5;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}
.tiempo input[type="submit"]:hover{
    width: 50%;
}
.alertaMensaje {
    margin: 24px 0 0;
    color: red!important;
}


#mainCarrito {
width: 100%;
height: 100vh;


}
.sectionCarrito {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/fondos/carrito.jpg);
    background-size: 100%;
    background-position: center;
}
.divBorrarTodo {
    width: 50%;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borrarTodo {
    border-radius: 1.25rem;
    font-size: .4375rem;
    padding: .9375rem;
    background-color: #a6eb12b5;
    font-weight: bold;
}
.divCarrito  {
    width: 50%;
    height: 25rem;
    background-color: rgba(251, 249, 249, 0.968);    
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divCarrito p {
    width: 100%;
margin-top: 10px;
text-align: center;
}
#mainPaquetes  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.25rem;
}
#mainPaquetes div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.125rem;
    margin: 1.25rem;
}
.btnComprar {
    width: 15.625rem;
    height: 2.5rem;
    margin: 2.5rem 2.5rem 0rem 2.5rem;
    padding: .625rem;
    background-color: #051937d6;
    color: white;
    border-radius: .625rem;
}
.btnBorrar:hover {
    background-color: #A8EB12;
    color: black;
}
.btnComprar:hover {
    background-color: #A8EB12;
    color: black;
}
.btnBorrar {
    width: 15.625rem;
    height: 2.5rem;
    margin: 2.5rem 2.5rem 0rem 2.5rem;
    padding: .625rem;
    background-color: #051937d6;
    color: white;
    border-radius: .625rem;
}
.ElCalafate {
    color: white;
    font-size: .625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.25rem;
    background: linear-gradient(to right, #051937b6,#24A478);
    border-radius: 3.125rem;
    box-shadow: .9375rem 0px .9375rem 0px rgba(0, 0, 0, 0.701);

    
}
.PuertoMadryn {
    color: white;
    font-size: .625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.25rem;
    background: linear-gradient(to right, #051937b6,#24A478);
    border-radius: 3.125rem;
    box-shadow: .9375rem 0px .9375rem 0px rgba(0, 0, 0, 0.701);

}
.Bariloche {
    color: white;
    font-size: .625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.25rem;
    background: linear-gradient(to right, #051937b6,#24A478);
    border-radius: 3.125rem;
    box-shadow: .9375rem 0px .9375rem 0px rgba(0, 0, 0, 0.701);
}
.Ushuaia {
    color: rgb(249, 244, 244);
    font-size: .625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.25rem;
    background: linear-gradient(to right, #051937b6,#24A478);
    border-radius: 3.125rem;
    box-shadow: .9375rem 0px .9375rem 0px rgba(0, 0, 0, 0.701);
}
.cuotas  {
    height: 4.6875rem;
    background-color: #A8EB12;
    color: black;
    font-size: 1.5625rem ;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    padding-left: .625rem;
}
.botonPuertoMadryn {
background-color: #051937;
color: white;
border-radius: 1.25rem;
padding: .625rem;
}
.botonElCalafate {
background-color: #051937;
color: white;
border-radius: 1.25rem;
padding: .625rem;
}
.botonBariloche {
background-color: #051937;
color: white;
border-radius: 1.25rem;
padding: .625rem;
}
.botonUshuaia {
background-color: #051937;
color: white;
border-radius: 1.25rem;
padding: .625rem;
}

.precioPaquete {
    height: 3.125rem;
    font-size: 40px;
}

#mainContactanos {
    min-height: 100vh;
    position:relative ;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    background-color: rgba(0, 0, 0, 0.718);
    mix-blend-mode: overlay;
}
.seccionContactanos {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 2;
    background-color: #0519379b;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}
.seccionContactanos h1 {
    font-size: 2.1875rem;
    color: white;
}
.articuloForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
 .articuloForm h1 {
    font-size: 2.5rem;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
 }
 .articuloMap {
    margin: 3.125rem 0px  0px 3.125rem;
 }

.input {
    text-align: center;
    padding: .625rem;
    margin: .625rem;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.66);
}
.input:hover {
    background-color: #051937;
    color: white;
}
.botonContactanos {
    padding: .625rem;
    height: 25%;
    width: 25%;
    font-size: 1.5625rem;
    margin: .625rem;
    background-color: #A8EB12;
    color: white ;
    font-weight: bold;
    border-radius: 1.25rem;
    text-align: center;
}
.botonContactanos:hover {
    transition: 400ms;
    letter-spacing: .625rem
}
.map {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map {
    width: 80%;
    height: 80%;
    padding-top: .625rem;
}

.redes {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datos a img {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}
.datos a img:hover {
    background-color: white;
    border-radius: 1.25rem;
    width: 3.125rem;
    height: 3.125rem;
}
.datos a {
    color: white;
}
.datos a:hover {
    color:  #A8EB12;
    border-radius: 1.25rem;
    font-size: 1.5625rem;
}
.articuloRedes {
    margin: 3.125rem 0px  0px 3.125rem;
}